body,div,ul,li,a,img{margin: 0;padding: 0;font-family: "Microsoft YaHei" !important;}
ul,li{list-style: none;}
a{text-decoration: none;}
#english{
    position: absolute;
bottom: -11px;
    right:5px;
    font-size: 16px;
    color: white;
}
#english a{
    color: white;
}
.section1{
	background: ;
	width: 70%;
	margin-left: 15%;
}
#wrapper{
	position: relative;
	margin: 0px auto;
	width: 100%;
	height:400px;
	background: rgba(1,1,1, 0);
}
#banner{
	float: left;
	width: 100%;
	height:400px;
	overflow: hidden;
}
#intro{
	float: left;
	width: 29%;
	border: 1px grey solid;
	height: 400px;
}
.imgList{
	position:relative;
	width:500%;
	height:400px;
	z-index: 10;
	overflow: hidden;
}
.imgList li{
	float:left;
	display: inline;
	width: 20%;
}
#prev,#next{
	position: absolute;
	top:80px;
	z-index: -10;
	cursor: pointer;
	opacity: 0.8;
	filter:alpha(opacity=80);
	display: none;
}
#prev{left: 10px;}
#next{right: 10px;}
#prev:hover,#next:hover{
	opacity: 1;
}
.bg{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 400px;
	height: 200px;
	margin-top: -100px;
	margin-left: -200px;
	z-index:20;
	opacity: 0.4;
	filter:alpha(opacity=40);
	background: black;
}
.infoList{
	position: absolute;
	left: 10px;
	top: 50%;
	left: 65%;
	margin-top: -100px;
	margin-left: -200px;
	bottom: 10px;
	z-index: 30;
}
.infoList li{display: none;}
.infoList .infoOn{display: inline;color: white;}
.indexList{position: absolute;right: 3%;bottom: 5px;z-index: 30;}
.indexList li{
	float: left;
	margin-right: 5px;
	padding: 2px 4px;
	border: 1px solid grey;
	background: grey;
	cursor: pointer;
}
.indexList .indexOn{background: #73B5E7;font-weight: bold;color: white;}
.field li{
	margin-top: 35px;
	height: 100px;
	font-size: 1.5em;
	text-align: center;
/*	font-weight: bold;*/
	border-bottom: 2px dotted #fff;
}
.field li a {
	text-decoration: none;
	color: #fff;
}
#field-title{
	height: 60px;
	padding: 0;
	padding-top: 15px;
	margin: 0;
	color: #fff;
	font-weight: bold;
}
.section2{
	background: #fff;
	width: 70%;
	margin-left: 15%;
}
.section2 .aside{
	/*background:#74B4EB;*/
	float: left;
	width: 32%;
	box-sizing: border-box;
	margin-top: 25px;
/*	margin-left: 30px;*/
}
.section2 .title{
	width: 100%;
	font-size: 18px;
	border-bottom: 1px solid gray;
	position: relative;
}

#more{
	position: absolute;
	right: 3px;
	font-size: 15px;
}
#more a{
	text-decoration: none;
}
#news-time{
	position: absolute;
	right: 10px;
}
.section2 .device{
	width: 100%;
	height: 300px;
	border-top: 1px solid gray;
	box-sizing: border-box;
	padding: 20px 10px 10px 10px;
	background-color: #f6f4f6;
}
.section2 .imgbox{
	padding-top: 3px;
	width: 100%;
	height: 210px;
	overflow: hidden;
    position: relative;
}
.section2 #box{
    width: 100%;
    height:210px;
    position: absolute;
}
.section2 .imgbox img{
	margin-top:10px;
	padding-left: 6px;
	width: 250px;
	height: 210px;
}
.section2 .list{
	box-sizing: border-box;
	height: 260px;
	padding-left: 18px;
	padding-top: 10px;
	overflow: hidden;
}
.section2 .news-list{
	height: 180px;
}
.section2 .list li{
	margin-top: 10px;
	list-style-type:disc;
	position: relative;
}
.section2 .list li a:hover{
color: green;
}
.section2 .news{
	float: left;
	padding-left: 3%;
	width: 68%;
	box-sizing: border-box;
	margin-top: 25px;
	overflow: hidden;
}

.news_ul li{
	background: #73B5E7;
	width: 30%;
	height: 400px;
	margin-right: 2%;
	vertical-align: top;
	display: inline-block;
	overflow: hidden;
	padding-bottom: 20px;
}
.news_ul a{
	font-weight: bolder;
	display: block;
	margin: 5px;
	margin-top: 50px;
}
.news_ul p{
	text-indent: 2em;
	text-align: inherit;
	display: block;
	height: 100px;
	overflow: hidden;
}
.news_ul p.blank{
	height: 60px;
}
.news_img{
	width:100%;
	height: 150px;
	border: grey 2px solid;
	margin: auto;
}
.news_img img{
	width: 100%;
	height: 100%;
}
.line{
	display: block;
	border: 2px grey solid;
	width: 60%;
	height: 0px;
}
.line1{
	display: block;
	border: 1px grey solid;
	width: 100%;
	height: 0px;
	margin-top: 2px;
	margin-bottom: 20px;
}
.section2 .readmore{
	float: right;
}
.news_ul{
	margin-left: 5%;
}
footer{
	width: 70%;
	margin-left: 15%;
	text-align: center;
	height: 100px;
	position: relative;
/*	margin-top: 50px;*/
/*	border-top: 1px dashed #ccc ;*/
	background: linear-gradient(to bottom, #fff 0%,#377C26 100%);
}
footer span{
	position: absolute;
	bottom: 5px;
	right: 50%;
	margin-right: -205px;
}
.logo{
	position: relative;
}
.logo_img{
	height: 100%;
	width: 100%;
}
.logo_img1{
	height: 50%;
	margin-top: 28px;
	/*width: 100%;*/
	position: absolute;
	top: 0;
	left: 20px;
}

@media only screen and (max-width:768px) {
	.section2 aside{
		display: inline-block;
		width: 100%;
	}
	.field li{
		display: inline-block;
		width: 24%;
		border: none;
		font-size: 1em;
		font-weight: normal;
		height: 40px;
		margin: 0px;
		padding: 10px 0px;
	}
	.news_ul li{
		display: block;
		width: 100%;
		margin-top: 20px;
	}
	.section2 .news{
		width: 90%;
	}
	.section1{
	width: 80%;
	margin-left: 10%;
	margin-bottom: 20px;
	}
	.section2{
	width: 80%;
	margin-left: 10%;
	}
	#wrapper{
		height:350px;
	}
	#banner{
		height:350px;
	}
	.imgList{
		height:350px;
	}
}
@media only screen and (max-width:480px) {
	.field li{
		width: 49%;
	}
	#wrapper{
		height:200px;
	}
	#banner{
		height:200px;
	}
	.imgList{
		height:200px;
	}
}
@media only screen and (max-width:320px){
	.section1{
		display: none;
	}
}
.con{
	min-height: 600px;
	  display: -ms-flexbox;
	  display: flex;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}
.flex-items{
	  box-sizing: border-box;
  background-color: white;
  -ms-flex: 0 0 25%;
      flex: 0 0 25%;
  height: 400px;
  margin:20px 25px;
}
.flex-items img{
	width: 100%;
	height:65%;
}
.flex-items p:nth-of-type(1){
	text-align: center;
    margin: 5px 0 2px 0;
}
.flex-items p:nth-of-type(2){
	text-align: left;
    height: 30%;
}