{% extends 'enhtml/base.html' %}
{% load staticfiles %}
{% block content %}
    <div class="section">
        <div class="two_left">
            <div class="two_left_title">Achievements</div>
            <table border="0" cellspacing="0" cellpadding="0" class="left_table">
                <tr>
                    <td class="two_center">
                        <ul class="left_empty">
                            <li class="active_li"><a href="/en/achieve">Fund</a></li>
                            <li><a href="/en/paper">Paper</a></li>
                            <li><a href="/en/patent">Patent</a></li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td><img src="{% static 'images/two_bottom.png' %}" width="221" height="37" /></td>
                </tr>
            </table>
        </div>
        <div class="container1">
            <td valign="top">
                <div class="two_right">
                    <div class="two_right_title">
                        <div class="two_right_title_h1"> Fund</div>
                        <div class="two_right_title_next"> <img src="{% static 'images/next_ico.png' %}" width="2" height="10" /> Position ：Home &gt; Achievement&gt;Fund </div>
                    </div>
                    <div class="two_news_list1">
                        <table width="98%" border="0" align="left" cellpadding="0" cellspacing="0">
                        {% for funds in funds_list %}
                            <tr class="news_tr">
                                <td width="20">
                                    <a href="#"></a><img src="{% static 'images/dot2.png' %}" width="4" height="6" />
                                    <a href="#"></a>
                                </td>
                                <td align="left" class="index_table_size1">{{funds.id}}、 {{funds.content}}</td>
                                <td width="20" align="center" class="public_color1"></td>
                            </tr>
                        {% endfor %}
                        </table>
                    </div>
                    <div class="page">
                                {% if funds_list and funds_list.paginator.num_pages > 1 %}
                                {% if funds_list.has_previous %}
                                    <a href="?page={{ funds_list.previous_page_number }}">Previous</a>
                                {% endif %}

                                {% if funds_list.has_next %}
                                    <a href="?page={{ funds_list.next_page_number }}">Next</a>
                                {% endif %}
                    {% endif %}
                    </div>
                </div>
            </td>
            </tr>
            </table>
        </div>
    </div>
    </div>
    <div class="clearfix"></div>
    </div>
{% endblock %} 