{% load staticfiles %}
{% load myfilter %}
<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link href="{% static 'css/bootstrap.css' %}" rel='stylesheet' type='text/css' />
		<!-- jQuery-->
		<script src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
		<!-- css -->
		<link href="{% static 'css/banner.css' %}" rel='stylesheet' type='text/css' />
		<link href="{% static 'css/index.css' %}" rel='stylesheet' type='text/css' />
	    <link href="{% static 'css/field.css' %}" rel='stylesheet' type='text/css' />
	    <link href="{% static 'css/student.css' %}" rel='stylesheet' type='text/css' />
	    <link href="{% static 'css/teacher.css' %}" rel='stylesheet' type='text/css' />
	    <link href="{% static 'css/engineer1.css' %}" rel='stylesheet' type='text/css' />
		<!-- 导航栏 -->
		<link href="{% static 'css/nav.css' %}" rel="stylesheet" type="text/css" media="all"/>
	</head>
	<body>
		<div class="banner" >
			<div class="header">
				<div class="logo"><img src="{% static 'images/logo_01.png' %}" class="logo_img">
                <img src="{% static 'images/logo1.png' %}" class="logo_img1"></div>
			<!-- <div class="logo">LOGO ABC</div> -->
			<div class="container">
				<div class="banner-top">
					<ul class="nav banner-nav">
							<li class="dropdown1"><a href="/en" >Home</a></li>
							<li class="dropdown1"><a href="/en/news" >News</a></li>
							<li class="dropdown1"><a href="/en/person" id='teacher123'>Researchers</a>
								<ul class="dropdown2">
									<li><a href="/en/person">Teacher</a></li>
									<li><a href="/en/student">Student</a></li>
								</ul>
							</li>
							<li class="dropdown1"><a href="/en/field" id="field123">Research</a>
								<ul class="dropdown2">
                                    {% for tag in fieldtag %}
                                        <li><a href="/en/field">{{ tag|ench:'1' }}</a></li>
                                    {% endfor %}
								</ul>
							</li>
							<li class="dropdown1"><a href="/en/achieve" id="achieve123">Achievements</a>
								<ul class="dropdown2">
									<li><a href="/en/achieve">Fund</a></li>
									<li><a href="/en/paper">Paper</a></li>
									<li><a href="/en/patent">Patent</a></li>
								</ul>
							</li>
							<li class="dropdown1"><a href="/en/technology" id="engineer123">Engineer</a></li>
							<li class="dropdown1"><a href="/en/about" id="about123">About</a></li>
					</ul>

                </div>
                <script>

                </script>
				<div class="clearfix"> </div>
			</div>
			</div>
		</div>
        {% block content %}
		{% endblock %}
  		<footer>
  			<span style="font-family:arial;">Copyright &copy;Sunlushi  Research Group

</span>
  		</footer>
	</body>
</html>
