{% extends 'enhtml/base.html' %}
{% load staticfiles %}
{% block content %}
		<div class="section">
			<div class="two_left">
	            <div class="two_left_title">Device</div>
	            <table border="0" cellspacing="0" cellpadding="0" class="left_table">
	              <tr>
	                <td class="two_center">
	                	<ul class="left_empty">
	                    <li class="active_li"><a href="/admin">Device</a></li>
	                    </ul>
	                 </td>
	              </tr>
	              <tr>
                <td><img src="{% static 'images/two_bottom.png' %}" width="221" height="37" /></td>
	              </tr>
	            </table>
            </div>
			<div class="container1">
				<div class="two_right">
					<div class="two_right_title"> 
						<div class="two_right_title_h1"> Device</div>
		              <div class="two_right_title_next"> <img src="{% static 'images/next_ico.png' %}" width="2" height="10" /> Location ：Home &gt;Device </div>
		            </div>

				   		<div class="clearfix"></div>
                    <div class="con">
                        {% for img in device %}
                            <div class="flex-items">
                                <img src="{{MEDIA_URL}}/uploads/{{img.img}}" alt="">
                                <p>{{ img.title }}</p>
                                <p>{{ img.introduce }}</p>
                            </div>
                        {% endfor %}

                    </div>
                </div>

            </div>
        </div>
    <div class="clearfix"></div>

    </div>
{% endblock %}	