{% extends 'enhtml/base.html' %}
{% load staticfiles %}
{% block content %}
{% load myfilter %}
<div class="section1">
			<div id="wrapper"><!-- 最外层部分 -->
			   	<div id="banner"><!-- 轮播部分 -->
			    	<ul class="imgList"><!-- 图片部分 -->
			      		<li id="slideli1"><a href="#"><img src="{{MEDIA_URL}}/uploads/{{banner.0.img}}" width="100%" height="400px" alt="puss in boots1"> </a></li>
			      		<li><a href="#"><img src="{{MEDIA_URL}}/uploads/{{banner.1.img}}" width="100%" height="400px" alt="puss in boots2"> --></a></li>
			      		<li><a href="#"><img src="{{MEDIA_URL}}/uploads/{{banner.2.img}}" width="100%" height="400px" alt="puss in boots2"> --> </a></li>
			      		<li><a href="#"><img src="{{MEDIA_URL}}/uploads/{{banner.3.img}}" width="100%" height="400px" alt="puss in boots2"> --></a></li>
			      		<li><a href="#"><img src="{{MEDIA_URL}}/uploads/{{banner.4.img}}" width="100%" height="400px" alt="puss in boots2"> --></a></li>
			      	</ul>
			      	<img src="{% static 'images/left.png' %}" width="20px" height="200px" id="prev">
			      	<img src="{% static 'images/right1.png' %}" width="20px" height="200px" id="next">
			      	<ul class="indexList"><!-- 图片右下角序号部分 -->
			        	<li class="indexOn">1</li>
			        	<li>2</li>
			        	<li>3</li>
			        	<li>4</li>
			        	<li>5</li>
			      	</ul>
			    </div>

		 	</div>
		</div>
		<script type="text/javascript">
				var curIndex = 0, 
			    imgLen = $(".imgList li").length; /*图片总数*/
			  	var autoChange = setInterval(function(){ 
			    	if(curIndex < imgLen-1){ 
			      		curIndex ++; 
			   		}
			   		else{ 
			      		curIndex = 0;
			    	}
			    	changeTo(curIndex); 
			 	 },2500);
			   /*左箭头*/
			  $("#prev").hover(function(){ 
				    clearInterval(autoChange);
				  },function(){ 
				    autoChangeAgain();
			  });
			  $("#prev").click(function(){ 
			    curIndex = (curIndex > 0) ? (--curIndex) : (imgLen - 1);
			    changeTo(curIndex);
			  });
			  /*右箭头*/
			  $("#next").hover(function(){ 
			    clearInterval(autoChange);
			  },function(){ 
			    autoChangeAgain();
			  });
			  $("#next").click(function(){ 
			    curIndex = (curIndex < imgLen - 1) ? (++curIndex) : 0;
			    changeTo(curIndex);
			  });
			  /*对右下角按钮*/
			  $(".indexList").find("li").each(function(item){ 
			    $(this).hover(function(){ 
			      clearInterval(autoChange);
			      changeTo(item);
			      curIndex = item;
			    },function(){ 
			      autoChangeAgain();
			    });
			  });
			 /* 清除定时器*/
			  function autoChangeAgain(){ 
			      autoChange = setInterval(function(){ 
			      if(curIndex < imgLen-1){ 
			        curIndex ++;
			      }else{ 
			        curIndex = 0;
			      }
			      changeTo(curIndex); 
			    },2500);
			    }
			  function changeTo(num){ 
			  	var wid=$('#slideli1').width();
			    var goLeft = num * wid;
			    $(".imgList").animate({left: "-" + goLeft + "px"},500);
			    $(".infoList").find("li").removeClass("infoOn").eq(num).addClass("infoOn");
			    $(".indexList").find("li").removeClass("indexOn").eq(num).addClass("indexOn");
			  }
  		</script>
  		<div class="section2">
            <div class="aside">
                <div class="title"><span id="left-item">Field</span><span id="more"><a href="/en/field">More>></a></span></div>
                <div class="list">
                    <ul>
                        {% for tag in fieldtag %}
                        <li><a href="{% url 'field' %}">{{ tag|ench:'1' }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="news">
                <div class="title"><span id="left-item">News</span><span id="more"><a href="/en/news">More>></a></span></div>
                <div class="list">
                    <ul>
                        {% for news in news_list %}
                        <li><a href="{% url "detail" id=news.id %}">{{news.title}}</a><span id="news-time">{{news.add_date|date:"Y /m /d"}}</span></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="aside">
                <div class="title"><span id="left-item">Technology</span><span id="more"><a href="/en/technology">More>></a></span></div>
                <div class="list">
                    <ul>
                        {% for engineer in engin_list %}
                        <li><a href="{% url "engindetail" id=engineer.id %}">{{ engineer.title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="news">
                <div class="title"><span id="left-item">Papers</span><span id="more"><a href="/en/paper">More>></a></span></div>
                <div class="list">
                    <ul>
                        {% for paper in paper_list %}
                        <li>{{paper.content}}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <div class="clearfix"></div>
            <div class="device">
                <div class="title"><span id="left-item">Device</span><span id="more"><a href="/en/device">More>></a></span></div>
                <div class="imgbox">
                    <div id="box">
                        {% for img in device %}
                            <img src="{{MEDIA_URL}}/uploads/{{img.img}}" alt="">
                        {% endfor %}
                    </div>
            </div>
                <script>
                    var carousel, oBox, oImg, imgWidth;
                    carousel = document.getElementsByClassName('imgbox')[0];
                    oBox = document.getElementById("box");
                    oImg = oBox.getElementsByTagName("img");
                    oBox.innerHTML = oBox.innerHTML + oBox.innerHTML;

                    imgWidth = oImg[0].offsetWidth;

                    oBox.style.width = imgWidth * (oImg.length)*2 + "px";

                    function carouselMove() {
                        if (oBox.offsetLeft < -oBox.offsetWidth / 2) {
                            oBox.style.left = "0";
                        }
                        oBox.style.left = oBox.offsetLeft - 2 + "px";
                    }
                    var time = setInterval(carouselMove, 30);
                    for (var i = 0; i < oImg.length; i++) {
                        oImg[i].onmouseover = function(){
                            clearInterval(time);
                        }
                        oImg[i].onmouseout = function(){
                            time = setInterval(carouselMove, 30);

                        }
                    }
                </script>
            </div>
  		</div>
{% endblock %}