{% extends 'enhtml/base.html' %}
{% load staticfiles %}
{% block content %}
    <div class="section">
        <div class="two_left">
            <div class="two_left_title">News</div>
            <table border="0" cellspacing="0" cellpadding="0" class="left_table">
                <tr>
                    <td class="two_center">
                        <ul class="left_empty">
                            <li class="active_li"><a href="teacher.html">Recent News</a></li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td><img src="{% static 'images/two_bottom.png' %}" width="221" height="37" /></td>
                </tr>
            </table>
        </div>
        <div class="container1">
            <td valign="top">
                <div class="two_right">
                    <div class="two_right_title">
                        <div class="two_right_title_h1"> Recent News</div>
                        <div class="two_right_title_next"> <img src="{% static 'images/next_ico.png' %}" width="2" height="10" /> Position ：Home &gt; News </div>
                    </div>
                    <div class="two_img"><img src="{% static 'images/banner.jpg' %}" /></div>
                    <div class="two_news_list">
                        <table width="98%" border="0" align="left" cellpadding="0" cellspacing="0">
                        {% for news in news_list %}
                            <tr class="news_tr">
                                <td width="20">
                                    <a href="#"></a><img src="{% static 'images/dot2.png' %}" width="4" height="6" />
                                    <a href="#"></a>
                                </td>
                                <td align="left" class="index_table_size"><a href="{% url "endetail" id=news.id %}">{{news.title}}</a></td>
                                <td width="120" align="center" class="public_color1">{{news.add_date|date:"Y /m /d"}}</td>
                            </tr>
                        {% endfor %}  
                        </table>
                    </div>
                    <div class="page">
                    {% if post_list.object_list and post_list.paginator.num_pages > 1 %}
                                {% if post_list.has_previous %}
                                    <a href="?page={{ post_list.previous_page_number }}">Previous</a>
                                {% endif %}

                                {% if post_list.has_next %}
                                    <a href="?page={{ post_list.next_page_number }}">Next</a>
                                {% endif %}
                    {% endif %}
                    </div>
                </div>
            </td>
            </tr>
            </table>
        </div>
    </div>
    </div>
    <div class="clearfix"></div>
    </div>
{% endblock %}