{% load staticfiles %}
{% load myfilter %}
<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link href="{% static 'css/bootstrap.css' %}" rel='stylesheet' type='text/css' />
		<!-- jQuery-->
		<script src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
		<!-- css -->
		<link href="{% static 'css/banner.css' %}" rel='stylesheet' type='text/css' />
		<link href="{% static 'css/index.css' %}" rel='stylesheet' type='text/css' />
	    <link href="{% static 'css/field.css' %}" rel='stylesheet' type='text/css' />
	    <link href="{% static 'css/student.css' %}" rel='stylesheet' type='text/css' />
	    <link href="{% static 'css/teacher.css' %}" rel='stylesheet' type='text/css' />
	    <link href="{% static 'css/engineer1.css' %}" rel='stylesheet' type='text/css' />
		<!-- 导航栏 -->
		<link href="{% static 'css/nav.css' %}" rel="stylesheet" type="text/css" media="all"/>
	</head>
	<body>
		<div class="banner" >
			<div class="header">
				<div class="logo"><img src="{% static 'images/logo_01.png' %}" class="logo_img">
                <img src="{% static 'images/logo1.png' %}" class="logo_img1">
                <p id="english"><a href="/en">English Version</a></p></div>
			<!-- <div class="logo">LOGO ABC</div> -->
			<div class="container">
				<div class="banner-top">
					<ul class="nav banner-nav">
							<li class="dropdown1"><a href="{% url "home"  %}" >首页</a></li>
							<li class="dropdown1"><a href="{% url "news" %}" >新闻动态</a></li>
							<li class="dropdown1"><a href="{% url "person" %}" id='teacher123'>团队成员</a>
								<ul class="dropdown2">
									<li><a href="{% url "person" %}">老师</a></li>
									<li><a href="{% url "student" %}">学生</a></li>
								</ul>
							</li>
							<li class="dropdown1"><a href="{% url "field" %}" id="field123">研究领域</a>
								<ul class="dropdown2">
                                    {% for tag in fieldtag %}
                                        <li><a href="{% url 'field' %}">{{ tag|ench:'0' }}</a></li>
                                    {% endfor %}
								</ul>
							</li>
							<li class="dropdown1"><a href="{% url "achieve" %}" id="achieve123">研究成果</a>
								<ul class="dropdown2">
									<li><a href="/achieve">科研项目</a></li>
									<li><a href="/paper">论文</a></li>
									<li><a href="/patent">专利</a></li>
								</ul>
							</li>
							<li class="dropdown1"><a href="{% url "technology" %}" id="engineer123">技术开发</a></li>
							<li class="dropdown1"><a href="{% url "device" %}" id="about123">仪器设备</a></li>
                        <li class="dropdown1"><a href="{% url "about" %}" id="about123">关于我们</a></li>
					</ul>

                </div>
                <script>

                </script>
				<div class="clearfix"> </div>
			</div>
			</div>
		</div>
        {% block content %}
		{% endblock %}
  		<footer>
  			<span style="font-family:arial;">Copyright &copy;华中大能源学院孙路石课题组
</span>
  		</footer>
	</body>
</html>
