<!DOCTYPE HTML>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link href="../css/bootstrap.css" rel='stylesheet' type='text/css' />
		<!-- jQuery-->
		<script src="../js/jquery-1.11.1.min.js"></script>
		<!-- css -->
		<link href="../css/banner.css" rel='stylesheet' type='text/css' />
		<link href="../css/field.css" rel='stylesheet' type='text/css' />
		<link href="../css/student.css" rel='stylesheet' type='text/css' />
		<link href="../css/engineer1.css" rel='stylesheet' type='text/css' />
		<!-- 导航栏 -->
		<link href="../css/nav.css" rel="stylesheet" type="text/css" media="all"/>
	</head>
	<body>
		<div class="banner" >
			<div class="header">
				<div class="logo"><img src="../images/logo_01.png" class="logo_img"></div>
			<!-- <div class="logo">LOGO ABC</div> -->
			<div class="container">		
				<div class="banner-top">
					<ul class="nav banner-nav">                                     
							<li class="dropdown1"><a href="index.html" >首页</a></li>
							<li class="dropdown1"><a href="news.html">动态</a></li>     
							<li class="dropdown1"><a href="teacher.html">人员</a>
								<ul class="dropdown2">
									<li><a href="teacher.html">老师</a></li>
									<li><a href="student.html">学生</a></li>
								</ul>
							</li>  
							<li class="dropdown1"><a href="field1.html" class="active">领域</a>
								<ul class="dropdown2">
									<li><a href="field1.html">燃煤污染物一体化协调脱除</a></li>
									<li><a href="field2.html">固体废弃物高值化利用</a></li>
									<li><a href="field3.html">矿物质积灰结渣机理研究</a></li>
								</ul>
							</li> 
							<li class="dropdown1"><a href="achieve1.html">成果</a>
								<ul class="dropdown2">
									<li><a href="achieve1.html">基金</a></li>
									<li><a href="achieve2.html">论文</a></li>
									<li><a href="achieve3.html">专利</a></li>
								</ul>
							</li>						
							<li class="dropdown1"><a href="engineer.html">技术开发</a></li> 
							<li class="dropdown1"><a href="about.html">关于我们</a></li>   
					</ul>
				</div>
				<div class="clearfix"> </div>
			</div>
			</div>
		</div>
		<div class="section">
			<div class="two_left">
	            <div class="two_left_title">研究领域</div>
	            <table border="0" cellspacing="0" cellpadding="0" class="left_table">
	              <tr>
	                <td class="two_center">
	                	<ul class="left_empty">
	                		<li class="field_title">燃煤污染物一体化协调脱除</li>
	                    	<li ><a href="field1.html">高级氧化 </a></li>
	                    	<li><a href="field2.html">低温等离子体</a></li>
	                    	<li class="field_title">固体废弃物高值化利用</li>
	                    	<li ><a href="field3.html">E-Waste关键问题 </a></li>
	                    	<li><a href="field4.html">其他固废处置研究</a></li>
	                    	<li class="field_title active_li">矿物质积灰结渣机理研究</li>
	                    	<li ><a href="field5.html">矿物质元素的赋存形态分离</a></li>
	                    	<li><a href="field6.html">积灰结渣特性综合判别模型</a></li>
	                    </ul>
	                 </td>
	              </tr>
	              <tr>
	                <td><img src="../images/two_bottom.png" width="221" height="37" /></td>
	              </tr>
	            </table>
            </div>



			<div class="container1">
				<div class="two_right_title"> 
						<div class="two_right_title_h1">研究领域</div>
		              <div class="two_right_title_next"> <img src="images/next_ico.png" width="2" height="10" /> 当前位置 ：首页 &gt;研究领域&gt;矿物质积灰结渣机理研究 </div>
		          </div>
				<div class="fie_text">
					<h2>矿物质积灰结渣机理研究</h2>
					<p class="fie_smalltitle">1、	介绍</p>
					<p>油焦（PETroleum coke）是原油经蒸馏将轻重质油分离后，重质油再经热裂的过程，转化而成的产品，具有低灰分、高热值和低价格的特点。石油焦气化技术是在煤气化的基础上发展起来的，可以生产合成气为炼油厂二次加工装置提供氢气，也可通过克劳斯工艺对石油焦中的硫进行回收。虽然石油焦气化技术的具有较好的工业应用前景，但是石油焦灰分在长时间运行过程中的沉积引起的积灰结渣问题制约了其进一步应用。</p><img  src="../images/fie5-1.gif" class="fie_img">
					（a）<img  src="../images/fie5-2.gif" class="fie_img">	                                   
					（b）<img  src="../images/fie5-3.png" class="fie_img">
 					（c）
									<br>图 1 钒镍金属在气化过程中对气化装置的危害<br>
							(a)	拱腹积灰结渣 (b) 拱背磨损 (c)积灰结渣构成的 EDX-mapping 图
					<p>研究表明，石油焦中的钒的沉积会导致中度到重度的腐蚀和沾污。且游离在合成气中的钒和镍是造成积灰结渣的主要来源，而飞灰对钒镍的吸附作用以及底渣的固化作用均能够对积灰结渣现象起到有效的抑制作用。然而，现阶段钒和镍在石油焦中的原始赋存形态以及气化过程的释放特性还没有被报道过，尤其是关于钒和镍在飞灰、底渣以及气相中的分布规律，这也是获取钒镍的气化转化机理的关键环节，需要进一步的研究。</p>

					<p class="fie_smalltitle">2、	研究目标</p>
					<p>1）研究石油焦中不同赋存形态钒镍元素的有效分离，以深化对其挥发机理的认识及建立钒镍挥发特性与环境气氛及温度场的关联性。</p>
					<p>	2）得到不同条件下钒镍在飞灰及底渣中的分布特性，以揭示镍钒的释放特性及飞灰的物化特性对钒镍转化的影响。</p>
					<p>3）建立以钒镍的挥发性及底渣熔融性为积灰结渣指数的石油焦气化积灰结渣特性综合判别模型。</p>
					<p class="fie_smalltitle">3、	研究内容</p>
					<p class="fie_smalltitle">（1）	研究不同赋存形态的钒镍金属元素的挥发特性</p>
					<p>以钒镍比为选择依据（高钒低镍，低钒高镍，钒镍相当）选取三种具有代表性的石油焦为研究对象，首先结合修正的 Tessier 形态分析法用不同的溶剂对石油焦中离子交换态、碳酸盐结合态、有机结合态及残渣态的钒镍进行浸提，获得石油焦中不同赋存形态的钒镍元素的量化信息，分析石油焦钒镍比与其内在赋存形态的宏观规律；随后对石油焦进行固定床气化实验以获取钒镍的挥发特性，固定床台架如图2所示。 </p>
					<img  src="../images/fie5-4.png" class="fie_img">
					图2 石油焦固定床气化试验系统

					<p class="fie_smalltitle">（2）	研究飞灰/气化底渣的物理化学特性和钒镍的分布特性</p>
					<p>对不同气化温度下获得的飞灰进行飞灰含碳量分析及粒度分析；通过低温灰化和X射线衍射（XRD）手段准确获取飞灰中钒镍的晶体结构；对飞灰进行微波消解并采用原子吸收光谱仪和ICP-MS联用来测定气化渣中钒镍的含量；采用SEM和EDX面扫来获取飞灰的直观物理结构以及钒镍金属颗粒的分布规律。结合上述飞灰特性（飞灰含碳量及粒径分布）和所吸附的钒镍金属特性（晶体结构和钒镍含量），获得不同气氛及气化温度下飞灰对钒镍金属的吸附过程作用机制。由于样品的表面性质会对金属的释放和转化产生较大影响，因此对于获得的底渣首先进行傅立叶变换红外分析（FTIR）及比表面积分析（BET)，获取底渣的表面官能团及比表面积；随后对焦样进行微波消解、原子吸收光谱分析、ICP-MSXRD、SEM和EDX面扫分析。结合底渣特性（比表面积及表面官能团）和所固化的钒镍金属特性（晶体结构和钒镍含量），获得不同气氛及气化温度下底渣对钒镍金属的释放特性的作用机制。最后将钒镍在飞灰及底渣中的分布与其物化特性进行耦合，获得钒镍在气化过程中的释放机理和转化途径。气化过程中钒镍的分布特性实验在沉降炉台架上进行，如图3所示。</p>
 					<img  src="../images/fie5-5.png" class="fie_img">
					图 3 石油焦沉降炉气化试验系统

					<p class="fie_smalltitle">（3）	钒镍对成灰、结渣特性的影响及综合评判</p>
					<p>对研究方案2中获得的底渣采用X射线荧光光谱分析(XRF)获取其灰成分信息；采用灰熔点测试仪获得其灰熔融特性；在基于煤质特性的几个常规结渣指标基础上，选取软化温度t2、硅铝比SiO2/Al2O3、碱酸比B/A、硅比G和综合指数R，并提出针对石油衍生产物这类特殊燃料的钒镍的挥发率指标H，其纳入评判因素集建立六因素模糊综合评判模型，通过构造隶属函数和确定权重集获得综合评判值。通过对比不同气化气氛及温度下综合评判值，提出优化的气化方案对石油焦的气化过程中积灰结渣倾向进行调控，最终提供对石油衍生产物气化利用的理论依据并奠定科学基础。</p>


				</div>
			</div>
			<div class="clearfix"></div>
		</div>
		<footer>
  			<span style="font-family:arial;">Copyright &copy;XXXXXXXXXXXX tel:123456789 e-mail:xxxxx@xxxx.com</span>
  		</footer>	
	</body>
</html>