<!DOCTYPE HTML>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link href="../css/bootstrap.css" rel='stylesheet' type='text/css' />
		<!-- jQuery-->
		<script src="../js/jquery-1.11.1.min.js"></script>
		<!-- css -->
		<link href="../css/banner.css" rel='stylesheet' type='text/css' />
		<link href="../css/field.css" rel='stylesheet' type='text/css' />
		<link href="../css/student.css" rel='stylesheet' type='text/css' />
		<link href="../css/engineer1.css" rel='stylesheet' type='text/css' />
		<!-- 导航栏 -->
		<link href="../css/nav.css" rel="stylesheet" type="text/css" media="all"/>
	</head>
	<body>
		<div class="banner" >
			<div class="header">
				<div class="logo"><img src="../images/logo_01.png" class="logo_img"></div>
			<!-- <div class="logo">LOGO ABC</div> -->
			<div class="container">		
				<div class="banner-top">
					<ul class="nav banner-nav">                                     
							<li class="dropdown1"><a href="index.html" >首页</a></li>
							<li class="dropdown1"><a href="news.html">动态</a></li>     
							<li class="dropdown1"><a href="teacher.html">人员</a>
								<ul class="dropdown2">
									<li><a href="teacher.html">老师</a></li>
									<li><a href="student.html">学生</a></li>
								</ul>
							</li>  
							<li class="dropdown1"><a href="field1.html" class="active">领域</a>
								<ul class="dropdown2">
									<li><a href="field1.html">燃煤污染物一体化协调脱除</a></li>
									<li><a href="field2.html">固体废弃物高值化利用</a></li>
									<li><a href="field3.html">矿物质积灰结渣机理研究</a></li>
								</ul>
							</li> 
							<li class="dropdown1"><a href="achieve1.html">成果</a>
								<ul class="dropdown2">
									<li><a href="achieve1.html">基金</a></li>
									<li><a href="achieve2.html">论文</a></li>
									<li><a href="achieve3.html">专利</a></li>
								</ul>
							</li>						
							<li class="dropdown1"><a href="engineer.html">技术开发</a></li> 
							<li class="dropdown1"><a href="about.html">关于我们</a></li>  
					</ul>
				</div>
				<div class="clearfix"> </div>
			</div>
			</div>
		</div>
		<div class="section">
			<div class="two_left">
	            <div class="two_left_title">研究领域</div>
	            <table border="0" cellspacing="0" cellpadding="0" class="left_table">
	              <tr>
	                <td class="two_center">
	                	<ul class="left_empty">
	                		<li class="field_title">燃煤污染物一体化协调脱除</li>
	                    	<li class="active_li"><a href="field1.html">高级氧化 </a></li>
	                    	<li><a href="field2.html">低温等离子体</a></li>
	                    	<li class="field_title">固体废弃物高值化利用</li>
	                    	<li ><a href="field3.html">E-Waste关键问题 </a></li>
	                    	<li><a href="field4.html">其他固废处置研究</a></li>
	                    	<li class="field_title">矿物质积灰结渣机理研究</li>
	                    	<li ><a href="field5.html">矿物质元素的赋存形态分离</a></li>
	                    	<li><a href="field6.html">积灰结渣特性综合判别模型</a></li>
	                    </ul>
	                 </td>
	              </tr>
	              <tr>
	                <td><img src="../images/two_bottom.png" width="221" height="37" /></td>
	              </tr>
	            </table>
            </div>



			<div class="container1">
				<div class="two_right_title"> 
						<div class="two_right_title_h1">研究领域</div>
		              <div class="two_right_title_next"> <img src="images/next_ico.png" width="2" height="10" /> 当前位置 ：首页 &gt;研究领域&gt;高级氧化 </div>
		          </div>
				<div class="fie_text">
					<h2>高级氧化</h2>
					<p class="fie_smalltitle">非均相类Fenton技术污染物一体化脱除简介：</p>
					<p>非均相类Fenton技术是高级氧化工艺（Advanced Oxidation Process, AOP, 也称深度氧化技术）的一种。<sup>•</sup>OH自由基具有极高的氧化活性，其标准氧化还原电势高达2.80 V，仅次于氟的2.87 V。AOP技术种类繁多，如在H2O2溶液中加入光辐射（UV）、超声波（US）、催化剂、电压等途径均可以产生具有强氧化作用的<sup>•</sup>OH自由基。相对于其他高级氧化技术，非均相类Fenton技术由于具有氧化活性高，无二次污染，催化剂回收方便，反应过程容易控制等优点，是目前化工、环保领域重点研究的新型氧化技术。</p>
					<p>非均相类Fenton技术由均相Fenton技术发展而来，克服了均相体系的许多缺陷，例如均相体系要求反应溶液的pH值较低，需提前对反应溶液酸化处理，而且会对设备产生腐蚀；反应过程中均相体系中的Fe2+/Fe3+容易产生大量的铁污泥污染，不但造成Fe催化剂利用率下降，而且大大增加处理二次污染的运行费用。研究发现，在反应体系中将Fe2+/Fe3+替换为过渡金属氧化物或钛基催化剂同样可以检测到<sup>•</sup>OH自由基的产生，提高污染物的氧化效率。</p>
					<p> 近年来，随着国内外对燃煤烟气中污染物排放控制的关注以及对高效、清洁、低成本污染物排放控制方法的探索，连续湿法类Fenton技术用于烟气污染物的脱除得到了广泛的研究。本课题提出利用非均相类Fenton技术产生高活性的<sup>•</sup>OH自由基氧化脱除烟气中Hg0，具有明显的创新性，研究成果将能够为燃煤烟气重金属汞的脱除提供理论基础和科学依据。至目前为止，本课题已经在以下几个方面开展了研究工作：</p>
					<p>（1）利用化学共沉淀法制备出三种典型的非均相类Fenton催化剂：α-Fe2O3、γ-Fe2O3和Fe3O4。研究三种催化剂的脱汞性能，考察催化剂的性质和结构对非均相类Fenton反应的主要作用和影响规律，筛选出一种活性较强、易于改性的催化剂用于后续的实验研究。</p>
					<p>（2）根据筛选的催化剂，在上述基础上制备了结构特性、催化活性、可磁分离性、反应稳定性等各不相同的Fe<sub>3-x</sub>M<sub>x</sub>O<sub>4</sub>（其中M为Ti、Co、Cu中的一种，0&lt;x&lt;1）催化剂。利用不同的表征手段研究各催化剂的物理化学特性，考察催化剂中M的掺杂量、H<sub>2</sub>O<sub>2</sub>浓度、溶液pH、催化剂用量和反应温度对Hg<sup>0</sup>脱除的影响；研究烟气中酸性气体SO2/NOx对汞脱除效率的影响，获得汞脱除过程中SO<sub>2</sub>、NO<sub>x</sub>、Hg的竞争协同脱除机制。</p>
					<img src="../images/fie1-1.png" class="fie_img">
					图1 H2O2浓度对非均相类Fenton脱汞性能的影响
					<img  src="../images/fie1-2.png" class="fie_img">
					图2 pH对非均相类Fenton脱汞性能的影响
					<p>（3）在上述研究基础上制备了Ti、Cu同时掺杂的Cu<sub>0.3</sub>Fe<sub>2.7-x</sub>Ti<sub>x</sub>O<sub>4</sub>催化剂，进一步强化非均相类Fenton反应的氧化脱汞性能、催化剂的稳定性和可循环利用性。研究不同反应因素和烟气组氛对脱汞规律的影响，初步探讨一定条件下同时脱除SO<sub>2</sub>、NO和Hg<sup>0</sup>的可能性。通过EPR考察不同催化剂、H<sub>2</sub>O<sub>2</sub>浓度和反应时间条件下<sup>•</sup>OH自由基的产生规律，提出非均相类Fenton脱汞机制。</p>
					<img  src="../images/fie1-3.png" class="fie_img">
					图3不同H2O2浓度下Cu0.3Fe2.7-xTixO4非均相类Fenton反应的EPR波谱强度<br>（x=0.13， pH=6.3，反应温度40 °C，反应时间15 min）
					<img  src="../images/fie1-4.png" class="fie_img">
					图4 Cu0.3Fe2.7-xTixO4非均相类Fenton反应不同时间的EPR波谱强度<br>（x=0.26，H2O2=0.3 mol/L，pH=6.3，反应温度40 °C）
					<img  src="../images/fie1-5.png" class="fie_img">
					图5 Cu0.3Fe2.7-xTixO4催化剂的稳定性<br>（x=0.2，H2O2浓度0.8 mol/L，pH=6.3，反应时间3 h）
					<p>4）通过电子顺磁共振技术（EPR）着重研究了非均相类Fenton反应过程中<sup>•</sup>OH自由基的产生规律，考察5,5-二甲基-1-吡啶-N-氧化物（DMPO）作为捕获剂时，掺杂不同过渡金属元素催化剂的<sup>•</sup>OH自由基产率，探讨其可能的氧化脱除机理。通过振动样品磁强计（VSM）考察不同催化剂的饱和磁强度、磁矫顽力和剩磁强度，获得不同催化剂在非均相类Fenton反应过程中的可磁分离性。研究了不同催化剂的稳定性和可循环利用性，为非均相类Fenton技术应用于烟气脱汞奠定理论基础。</p>
					<p>（5）利用密度泛函理论初步以Fe<sub>3</sub>O<sub>4</sub>为对象研究Fe<sub>3</sub>O<sub>4</sub>/H<sub>2</sub>O<sub>2</sub>体系脱汞的机理。建立催化剂的晶体结构模型，考察H<sub>2</sub>O<sub>2</sub>分子在Fe<sub>3</sub>O<sub>4</sub>（111）表面两种不同终端的吸附和分解特性，得出羟基的产生机理。研究Hg<sup>0</sup>在H2O2预吸附表面的氧化反应特性，通过分析原子之间重新成键和Mulliken电荷的变化，并对比多种不同初始构型的结合能，深入探讨催化剂表面羟基的生成规律和Hg<sup>0</sup>的氧化机理。</p>
					<img  src="../images/fie1-6.png" class="fie_img">
					图6非均相类Fenton反应脱汞过程示意图
					<img  src="../images/fie1-7.png" class="fie_img">
					图7非均相类Fenton反应脱汞机理示意图
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
		<footer>
  			<span style="font-family:arial;">Copyright &copy;XXXXXXXXXXXX tel:123456789 e-mail:xxxxx@xxxx.com</span>
  		</footer>	
	</body>
</html>