<!DOCTYPE HTML>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link href="../css/bootstrap.css" rel='stylesheet' type='text/css' />
		<!-- jQuery-->
		<script src="../js/jquery-1.11.1.min.js"></script>
		<!-- css -->
		<link href="../css/banner.css" rel='stylesheet' type='text/css' />
		<link href="../css/field.css" rel='stylesheet' type='text/css' />
		<link href="../css/teacher.css" rel='stylesheet' type='text/css' />
		<link href="../css/engineer1.css" rel='stylesheet' type='text/css' />
		<!-- 导航栏 -->
		<link href="../css/nav.css" rel="stylesheet" type="text/css" media="all"/>
	</head>
	<body>
		<div class="banner" >
			<div class="header">
				<div class="logo"><img src="../images/logo_01.png" class="logo_img"></div>
			<!-- <div class="logo">LOGO ABC</div> -->
			<div class="container">		
				<div class="banner-top">
					<ul class="nav banner-nav">                                     
							<li class="dropdown1"><a href="index.html" >首页</a></li>
							<li class="dropdown1"><a href="news.html" >动态</a></li>     
							<li class="dropdown1"><a href="teacher.html" class="active">人员</a>
								<ul class="dropdown2">
									<li><a href="teacher.html">老师</a></li>
									<li><a href="student.html">学生</a></li>
								</ul>
							</li>  
							<li class="dropdown1"><a href="field1.html" >领域</a>
								<ul class="dropdown2">
									<li><a href="field1.html">燃煤污染物一体化协调脱除</a></li>
									<li><a href="field2.html">固体废弃物高值化利用</a></li>
									<li><a href="field3.html">矿物质积灰结渣机理研究</a></li>
								</ul>
							</li> 
							<li class="dropdown1"><a href="achieve1.html">成果</a>
								<ul class="dropdown2">
									<li><a href="achieve1.html">基金</a></li>
									<li><a href="achieve2.html">论文</a></li>
									<li><a href="achieve3.html">专利</a></li>
								</ul>
							</li>						
							<li class="dropdown1"><a href="engineer.html" >工程应用</a></li>  
					</ul>
				</div>
				<div class="clearfix"> </div>
			</div>
			</div>
		</div>
		<div class="section">

				<div class="detail">
				   <div class="detail_title"> <img src="images/next_ico.png" width="2" height="10" /> 当前位置 ：<a href="index.html">首页</a>  &gt; 人员信息&gt;<a href="teacher.html">教师信息</a>&gt;孙路石</div>
				   <div class="tea_mes">
				   		<img src="../images/teacher1.jpg" class="tea_pho">
				   		<ul class="tea_ul">
				   			<li>姓名:孙路石</li>
				   			<li>性别:男</li>
				   			<li>专业职称:教授</li>
				   			<li>单位:能源与动力工程学院</li>
				   		</ul>
				   		<ul class="tea_ul">
				   			<li>导师类别:博士硕士生导师</li>
				   			<li>学术兼职:兼职导师</li>
				   			<li>一级学科名称:动力工程及工程热物理</li>
				   			<li>二级学科名称:热能工程</li>
				   		</ul>
				   		<p>教授，博士生导师，主要从事燃料燃烧与热化学转化以及污染物控制等方面的研究工作。现担能源动力装置节能减排教育部工程中心副主任，湖北省燃烧工程研究会常务理事、秘书长。</p><p>1999年毕业于武汉水利电力大学热能工程系，获工学硕士学位。</p><p>2004年毕业于华中科技大学能源与动力工程学院，获工学博士学位。</p><p>2001.10～2002.3，赴法国国家科学研究中心进行中法第九届科技混委会项目“煤燃烧和废弃物焚烧中有害元素排放和控制技术研究”的合作研究。</p><p>2009.10～2010.10，英国伦敦帝国理工学院化学工程与技术系，访问学者。</p><p>发表SCI/EI/ISTP收录论文100余篇，合作出版专著2部，获得发明专利10余项。</p><p>电子邮箱：sunlushi@hust.edu.cn</p>
				   			<p class="tea_title">主要科研项目</p>
				   		<p class="tea_lw">
1、2011-2014，35MW富氧燃烧技术集成与示范，科技部<br>
2、2011-2012，基于煤气化制H2系统的金属氧化物在多组份条件下的氧化/碳酸化/再生机理研究，中央高校基金<br>
3、2010-2012，生物质气化产物洁净催化燃烧研究，国家自然科学基金<br>
4、2010-2012，燃煤锅炉低氮氧化物燃烧新技术开发，武汉市<br>
5、2010-2012，燃煤电厂烟气中CO2胺基资源化回收机理及系统的研究，湖北省<br>
6、2009-2014，基于CO2捕集的煤高效制氢过程基础研究，国家科技部<br>
7、2008-2014，燃煤污染物干法联合脱除的基础研究，国家科技部</p>
				   		<p class="tea_title">主要论文</p>
				   		<p class="tea_lw">1、201207 论文题目：Study on surface functional group characteristics of Yanzhou coal for thermal maturity，刊物名称：Asia-Pacific J Chem Engin，卷数：7，期数：，页数：177-184，作者名次排名：1，三大索引收录号：，刊物类别:C类，收录类别：SCI；
</br>2、201205 论文题目：Gas-phase elemental mercury removal by novel carbon-based sorbents，刊物名称：Carbon，卷数：50，期数：，页数：362-371，作者名次排名：通讯，三大索引收录号：，刊物类别:A类，收录类别：SCI；
</br>3、201205 论文题目：Vaporization of heavy metals during thermal treatment of model solid waste in a fluidized bed incinerator，刊物名称：Chemosphere，卷数：86，期数：，页数：1122-1126，作者名次排名：通讯，三大索引收录号：，刊物类别:A类，收录类别：SCI；
</br>4、201205 论文题目：Char Reactivity and Structure Evolution during Pyrolysis and Combustion in Air and Oxyfuel Conditions，刊物名称：Energy Fuels，卷数：26，期数：，页数：1565-1574，作者名次排名：通讯，三大索引收录号：，刊物类别:A类，收录类别：SCI；
</br>5、201204 论文题目：A kinetic study of NO formation during oxy-fuel combustion of pyridine，刊物名称：Applied Energy，卷数：92，期数：，页数：361–368，作者名次排名：通讯，三大索引收录号：，刊物类别:A类，收录类别：SCI；
</br>6、201203 论文题目：O2/CO2气氛中低氧浓度下煤粉和煤焦的NO生成规律，刊物名称：煤炭学报，卷数：37，期数：3，页数：501-505，作者名次排名：通讯，三大索引收录号：，刊物类别:C类，收录类别：EI；
</br>7、201202 论文题目：O_2_CO_2气氛下CO对煤焦异相还原NO影响的研究，刊物名称：工程热物理学报，卷数：33，期数：2，页数：335-338，作者名次排名：通讯，三大索引收录号：，刊物类别:C类，收录类别：EI；
</br>8、201112 论文题目：A DFT study of the interaction of elemental mercury with small neutral and charged silver clusters ，刊物名称：Chemical Physics Letters，卷数：517，期数：，页数：227-233，作者名次排名：1，三大索引收录号：，刊物类别:B类，收录类别：SCI；
</br>9、201110 论文题目：LaMnAl11O19催化剂上生物质气化气燃烧中NH3-NOX的转化特性，刊物名称：燃料化学学报，卷数：39，期数：10，页数：735-740，作者名次排名：通讯，三大索引收录号：，刊物类别:C类，收录类别：EI；
</br>10、201109 论文题目：胜利褐煤的加压热解特性分析，刊物名称：中国电机工程学报，卷数：31，期数：29，页数：15-20，作者名次排名：通讯，三大索引收录号：，刊物类别:C类，收录类别：EI；
</br>11、201109 论文题目：Adsorption of NO and NH3 over CuO/γ-Al2O3 catalyst，刊物名称：J. Cent. South Univ. Technol.，卷数：18，期数：，页数：1883-1890，作者名次排名：通讯，三大索引收录号：，刊物类别:C类，收录类别：SCI；
</br>12、201107 论文题目：Density functional study of interation of Hg with small gold clusters，刊物名称：Acta Physica Sinica，卷数：60，期数：，页数：073103-1-12，作者名次排名：1，三大索引收录号：，刊物类别:B类，收录类别：SCI；
</br>13、201102 论文题目：The combustion reactivity of coal chars in oxyfuel atmosphere: Comparison of different random pore models，刊物名称：J. Anal. Appl. Pyrolysis，卷数：91，期数：，页数：251-256，作者名次排名：通讯，三大索引收录号：，刊物类别:B类，收录类别：SCI；
</br>14、201012 论文题目：负载型钯催化剂上生物质气化气催化燃烧，刊物名称：燃料化学学报，卷数：38，期数：6，页数：679-683，作者名次排名：1，三大索引收录号：，刊物类别:C类，收录类别：EI；
</br>15、201011 论文题目：热解温度对淮南煤热解与CO2气化特性的影响，刊物名称：华中科技大学学报，卷数：38，期数：11，页数：100-103，作者名次排名：通讯，三大索引收录号：，刊物类别:C类，收录类别：EI；
</br>16、201009 论文题目：La和Ce改性Ni/Al2O3催化剂上生物质气燃烧，刊物名称：华中科技大学学报，卷数：38，期数：9，页数：108-111，作者名次排名：1，三大索引收录号：，刊物类别:C类，收录类别：EI；
</br>17、201008 论文题目：烟煤煤焦的CO2气化反应，刊物名称：燃烧科学与技术，卷数：16，期数：4，页数：347-352，作者名次排名：通讯，三大索引收录号：，刊物类别:C类，收录类别：EI；
</br>18、201005 论文题目：Study on the release characteristics of HCN and NH3 during coal gasification，刊物名称：Asia-Pacific J Chem Engin，卷数：5，期数：3，页数：403-407，作者名次排名：1，三大索引收录号：，刊物类别:C类，收录类别：SCI；
</br>19、201003 论文题目：DFT study of NH3 and NO adsorption on copper-aluminate catalysts，刊物名称：APPEEC，卷数：1-4，期数：，页数：978-1-4244-4，作者名次排名：通讯，三大索引收录号：，刊物类别:C类，收录类别：ISTP；
</br>20、201003 论文题目：Removal of vapor-phase elemental mercury by novel chemically promoted noncarbon sorbents，刊物名称：APPEEC，卷数：3，期数：，页数：484-487，作者名次排名：通讯，三大索引收录号：，刊物类别:C类，收录类别：ISTP；
</br>21、201003 论文题目：NO formation mechanism during oxy-fuel combustion of pyridine，刊物名称：APPEEC，卷数：1-4，期数：，页数：978-1-4244-4，作者名次排名：通讯，三大索引收录号：，刊物类别:C类，收录类别：ISTP；
</br>22、201001 论文题目：来宾电厂420t/h锅炉煤种适应性的分析，刊物名称：热力发电，卷数：39，期数：1，页数：52-55，作者名次排名：1，三大索引收录号：，刊物类别:D类，收录类别：无；
</br>23、200910 论文题目：Study on the nitric compounds during coal gasification，刊物名称：ICEET，卷数：3，期数：，页数：586-589，作者名次排名：通讯，三大索引收录号：，刊物类别:C类，收录类别：ISTP；
</br>24、200910 论文题目：垃圾焚烧残余物中重金属分布与浸出性分析，刊物名称：华中科技大学学报，卷数：37，期数：10，页数：124-127，作者名次排名：1，三大索引收录号：，刊物类别:C类，收录类别：EI；
</br>25、200910 论文题目：Effect of pyrolysis temperature on characteristics of porosity in biomass chars，刊物名称：ICEET，卷数：1，期数：，页数：109-112，作者名次排名：通讯，三大索引收录号：，刊物类别:C类，收录类别：ISTP；
</br>26、200909 论文题目：淮南煤焦CO2气化反应特性的试验研究，刊物名称：动力工程，卷数：29，期数：8，页数：794-800，作者名次排名：通讯，三大索引收录号：，刊物类别:C类，收录类别：无；
</br>27、200908 论文题目：城市生活垃圾焚烧灰渣的特征，刊物名称：华中科技大学学报，卷数：37，期数：8，页数：77-79，作者名次排名：1，三大索引收录号：，刊物类别:C类，收录类别：EI；
</br>28、200908 论文题目：CuO-CeO2-MnOx/Al2O3催化剂选择性催化脱除NO机理研究，刊物名称：工程热物理学报，卷数：30，期数：8，页数：1415-1418，作者名次排名：1，三大索引收录号：，刊物类别:C类，收录类别：EI；
</br>29、200904 论文题目：La/Mn改性Pd/γ-Al2O3催化剂对甲烷催化燃烧的影响，刊物名称：中国电机工程学报，卷数：29，期数：11，页数：26-31，作者名次排名：1，三大索引收录号：，刊物类别:C类，收录类别：EI；
</br>30、200904 论文题目：膨润土-壳聚糖及其改性吸附剂脱除燃烧烟气中Hg0的性能研究，刊物名称：燃料化学学报，卷数：37，期数：4，页数：489-495，作者名次排名：通讯，三大索引收录号：，刊物类别:C类，收录类别：EI；
</br>31、200903 论文题目：Main influencing factors and coal fly ash characteristics of gasoues fuel reburning process，刊物名称：J. Cent. South Univ. Technol.，卷数：16，期数：，页数：160-165，作者名次排名：通讯，三大索引收录号：，刊物类别:C类，收录类别：SCI；
</br>32、200902 论文题目：原位漫反射红外光谱研究NO和NH3在CuO /γ-Al2O3催化剂上的吸附行为，刊物名称：化工学报，卷数：60，期数：2，页数：444-449，作者名次排名：1，三大索引收录号：，刊物类别:C类，收录类别：EI；
</br>33、200812 论文题目：热解过程中玉米秆颗粒孔隙结构的演化，刊物名称：中国电机工程学报，卷数：28，期数：35，页数：108-113，作者名次排名：通讯，三大索引收录号：，刊物类别:C类，收录类别：EI；
</br>34、200811 论文题目：改性壳聚糖性能表征及脱除烟气中Hg0的实验研究，刊物名称：中国电机工程学报，卷数：28，期数：32，页数：50-56，作者名次排名：通讯，三大索引收录号：，刊物类别:C类，收录类别：EI；
</br>35、200804 论文题目：溶胶-凝胶法制备CuO /γ-Al2O3催化吸附剂，刊物名称：工业催化，卷数：16，期数：4，页数：24-29，作者名次排名：通讯，三大索引收录号：，刊物类别:D类，收录类别：无；
</br>36、200803 论文题目：CuO/γ-Al2O3和CuO/ CeO2/Na2O/γ-Al2O3催化吸附剂的脱硝性能，刊物名称：中国电机工程学报，卷数：28，期数：8，页数：52-56，作者名次排名：，三大索引收录号：，刊物类别:C类，收录类别：EI；</p>
				   		<div class="clearfix"></div>
				   </div>
				</div>




			</div>
			<div class="clearfix"></div>
		</div>
		<footer>
  			<span style="font-family:arial;">Copyright &copy;XXXXXXXXXXXX tel:123456789 e-mail:xxxxx@xxxx.com</span>
  		</footer>	
	</body>
</html>