{% extends 'html/base.html' %}
{% load staticfiles %}
{% block content %}
    <div class="section">
        <div class="two_left">
            <div class="two_left_title">研究成果</div>
            <table border="0" cellspacing="0" cellpadding="0" class="left_table">
                <tr>
                    <td class="two_center">
                        <ul class="left_empty">
                            <li><a href="{% url "achieve"  %}">基金</a></li>
                            <li class="active_li"><a href="{% url "paper"  %}">论文</a></li>
                            <li><a href="{% url "patent"  %}">专利</a></li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td><img src="{% static 'images/two_bottom.png' %}" width="221" height="37" /></td>
                </tr>
            </table>
        </div>
        <div class="container1">
            <td valign="top">
                <div class="two_right">
                    <div class="two_right_title">
                        <div class="two_right_title_h1"> 发表论文</div>
                        <div class="two_right_title_next"> <img src="{% static 'images/next_ico.png' %}" width="2" height="10" /> 当前位置 ：首页 &gt; 研究成果&gt;发表论文 </div>
                    </div>
                    <div class="two_news_list1">
                        <table width="98%" border="0" align="left" cellpadding="0" cellspacing="0">
                            {% for paper in paper_list %}
                            <tr class="news_tr">
                                <td width="20">
                                    <a href="#"></a><img src="{% static 'images/dot2.png' %}" width="4" height="6" />
                                    <a href="#"></a>
                                </td>
                                <td align="left" class="index_table_size1">{{paper.content}}</td>
                                <td width="20" align="center" class="public_color1"></td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                    <div class="page"><a href="#">上一页</a><a href="#">1</a><a href="#">下一页</a></div>
                </div>
            </td>
            </tr>
            </table>
        </div>
    </div>
    </div>
    <div class="clearfix"></div>
    </div>
{% endblock %} 