<!DOCTYPE HTML>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link href="../css/bootstrap.css" rel='stylesheet' type='text/css' />
		<!-- jQuery-->
		<script src="../js/jquery-1.11.1.min.js"></script>
		<!-- css -->
		<link href="../css/banner.css" rel='stylesheet' type='text/css' />
		<link href="../css/field.css" rel='stylesheet' type='text/css' />
		<link href="../css/engineer1.css" rel='stylesheet' type='text/css' />
		<!-- 导航栏 -->
		<link href="../css/nav.css" rel="stylesheet" type="text/css" media="all"/>
	</head>
	<body>
		<div class="banner" >
			<div class="header">
				<div class="logo"><img src="../images/logo_01.png" class="logo_img"></div>
			<!-- <div class="logo">LOGO ABC</div> -->
			<div class="container">		
				<div class="banner-top">
					<ul class="nav banner-nav">                                     
							<li class="dropdown1"><a href="index.html" >首页</a></li>
							<li class="dropdown1"><a href="news.html">动态</a></li>     
							<li class="dropdown1"><a href="teacher.html">人员</a>
								<ul class="dropdown2">
									<li><a href="teacher.html">老师</a></li>
									<li><a href="student.html">学生</a></li>
								</ul>
							</li>  
							<li class="dropdown1"><a href="field1.html">领域</a>
								<ul class="dropdown2">
									<li><a href="field1.html">燃煤污染物一体化协调脱除</a></li>
									<li><a href="field2.html">固体废弃物高值化利用</a></li>
									<li><a href="field3.html">矿物质积灰结渣机理研究</a></li>
								</ul>
							</li> 
							<li class="dropdown1"><a href="achieve1.html">成果</a>
								<ul class="dropdown2">
									<li><a href="achieve1.html">基金</a></li>
									<li><a href="achieve2.html">论文</a></li>
									<li><a href="achieve3.html">专利</a></li>
								</ul>
							</li>						
							<li class="dropdown1"><a href="engineer.html" class="active">技术开发</a></li> 
							<li class="dropdown1"><a href="about.html">关于我们</a></li>  
					</ul>
				</div>
				<div class="clearfix"> </div>
			</div>
			</div>
		</div>
		<div class="section">



<div class="detail">
   <div class="detail_title"> <img src="images/next_ico.png" width="2" height="10" /> 当前位置 ：<a href="index.html">首页</a> &gt;   <a href="engineer.html">工程应用</a> &gt; 低氮燃烧介绍</div>
   <div class="detail_h1">低氮燃烧介绍</div>
   <div class="detail_time">发布时间：20xx年xx月xx日 </div>
   <div class="detail_text">
<p>在众多脱除氮氧化物的技术手段中，低氮燃烧技术一直是应用最广泛、经济实用的措施。它是通过改变燃烧设备的燃烧条件来降低NOx的形成。具体来说，是通过调节燃烧温度、烟气中的氧的浓度、烟气在高温区的停留时间等方法来抑制NOx的生成或破坏已生成的NOX。</p>
<p>低氮燃烧技术有很多种，包括低氧燃烧，低NOX燃烧器，空气分级燃烧，燃料分级燃烧，烟气再循环等，其中空气分级是应用最为广泛的一种技术。实验室在低氮燃烧方面的研究主要使用了数值模拟的方法，通过对研究对象速度场，温度场，氧气浓度场以及NO浓度场分布的研究，设计最佳的低氮改造方案，已多次应用于工程实际。</p>
<p>四角锅炉设计及改造成果：</p>
     <img src="../images/eng2-1.jpg" class="fie_img">
  <h5>速度分布云图</h5>        <img src="../images/eng2-2.jpg" class="fie_img">             <h5> 温度分布云图</h5>
   <img src="../images/eng2-3.jpg" class="fie_img">
<h5>O2分布云图       </h5>            <img src="../images/eng2-4.jpg" class="fie_img">      <h5> NO分布云图</h5>




<p>W型火焰锅炉设计及改造成果：阳城600MW低氮燃烧改造；金竹山3# 600MW低氮改造；株洲电厂300MW低氮改造；珞璜电厂无烟煤改烟煤及卫燃带设计改造等</p>
         <img src="../images/eng2-5.jpg" class="fie_img">    
<h5>速度分布云图  </h5>              <img src="../images/eng2-6.jpg" class="fie_img">          <h5>温度分布云图</h5>
    <img src="../images/eng2-7.jpg" class="fie_img">           
<h5>O2分布云图    </h5>                    <img src="../images/eng2-8.jpg" class="fie_img">         <h5>NO分布云图</h5>

<p>前后墙对冲锅炉设计及改造成果：长沙电厂600MW煤粉分离器改造；贺州电厂1000MW低氮改造可行性分析</p>
 	 <img src="../images/eng2-9.jpg" class="fie_img">
<h5>速度分布云图</h5><img src="../images/eng2-10.png" class="fie_img">	<h5>温度分布云图</h5>
 <img src="../images/eng2-11.jpg" class="fie_img">	 
<h5>O2分布云图</h5>	<img src="../images/eng2-12.jpg" class="fie_img"><h5>NO分布云图</h5>


   </div>
</div>
            
            </div>
          </td>
      </tr>
    </table>
  </div>
</div>




			</div>
			<div class="clearfix"></div>
		</div>
		<footer>
  			<span style="font-family:arial;">Copyright &copy;XXXXXXXXXXXX tel:123456789 e-mail:xxxxx@xxxx.com</span>
  		</footer>	
	</body>
</html>