<!DOCTYPE HTML>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link href="../css/bootstrap.css" rel='stylesheet' type='text/css' />
		<!-- jQuery-->
		<script src="../js/jquery-1.11.1.min.js"></script>
		<!-- css -->
		<link href="../css/banner.css" rel='stylesheet' type='text/css' />
		<link href="../css/field.css" rel='stylesheet' type='text/css' />
		<link href="../css/engineer1.css" rel='stylesheet' type='text/css' />
		<!-- 导航栏 -->
		<link href="../css/nav.css" rel="stylesheet" type="text/css" media="all"/>
	</head>
	<body>
		<div class="banner" >
			<div class="header">
				<div class="logo"><img src="../images/logo_01.png" class="logo_img"></div>
			<!-- <div class="logo">LOGO ABC</div> -->
			<div class="container">		
				<div class="banner-top">
					<ul class="nav banner-nav">                                     
							<li class="dropdown1"><a href="index.html" >首页</a></li>
							<li class="dropdown1"><a href="news.html">动态</a></li>     
							<li class="dropdown1"><a href="teacher.html">人员</a>
								<ul class="dropdown2">
									<li><a href="teacher.html">老师</a></li>
									<li><a href="student.html">学生</a></li>
								</ul>
							</li>  
							<li class="dropdown1"><a href="field1.html">领域</a>
								<ul class="dropdown2">
									<li><a href="field1.html">燃煤污染物一体化协调脱除</a></li>
									<li><a href="field2.html">固体废弃物高值化利用</a></li>
									<li><a href="field3.html">矿物质积灰结渣机理研究</a></li>
								</ul>
							</li> 
							<li class="dropdown1"><a href="achieve1.html">成果</a>
								<ul class="dropdown2">
									<li><a href="achieve1.html">基金</a></li>
									<li><a href="achieve2.html">论文</a></li>
									<li><a href="achieve3.html">专利</a></li>
								</ul>
							</li>						
							<li class="dropdown1"><a href="engineer.html" class="active">技术开发</a></li> 
							<li class="dropdown1"><a href="about.html">关于我们</a></li>  
					</ul>
				</div>
				<div class="clearfix"> </div>
			</div>
			</div>
		</div>
		<div class="section">



<div class="detail">
   <div class="detail_title"> <img src="images/next_ico.png" width="2" height="10" /> 当前位置 ：<a href="index.html">首页</a> &gt;   <a href="engineer.html">工程应用</a> &gt; 武汉市“十三五”煤炭消费总量控制方案与政策研究</div>
   <div class="detail_h1">武汉市“十三五”煤炭消费总量控制方案与政策研究</div>
   <div class="detail_time">发布时间：20xx年xx月xx日 </div>
   <div class="detail_text">

<p>中国是世界煤炭生产和消费第一大国。以煤炭为主的能源结构支撑了中国经济的高速发展，但同时也对生态环境造成了严重的破坏。煤炭大量消费导致的城市环境空气质量下滑，雾霾现象频发、酸雨污染严重等问题逐渐受到人们的关注。尤其是2012年以来反复出现的全国性大面积重度雾霾，严重威胁了公众的身体健康。随着社会对生态环境和人类健康的关注度越来越高，煤炭消费总量控制相关方面的研究也逐步提上了日程。</p>
  <img src="../images/eng3-1.png" class="fie_img">
<h5>能源、经济、环境因果-协调关系系图</h5>

<p>2013年9月以来，国务院出台了一系列文件和政策，如《大气污染防治行动计划》（“气十条”）、《能源发展战略行动计划（2014-2020）》（“战略行动计划”）、《煤电节能升级改造行动计划通知2014-2020》和《中国制造2025-能源装备实施方案》等支持煤炭消费总量控制。在“气十条”中明确提出“制定国家煤炭消费重量中长期控制目标，实行目标责任管理”的要求。2016年1月1日实施新修订的《大气污染防治法》中，要求调整能源结构，优化煤炭使用方式，推广煤炭清洁高效利用，逐步降低煤炭在一次能源中的比重。</p>
<p>国际环保机构自然资源保护协会 (Natural Resources Defense Council, NRDC) 等20多家单位共同启动了“中国煤炭消费总量控制方案和政策研究”项目。武汉是国家“资源节约型、环境友好型”社会综合配套改革试验区，也是国家低碳城市试点。2015年9月，在美国洛杉矶第一届中美气候峰会上，武汉向全世界做出了2022年左右碳排放达峰的郑重承诺。为了响应国家总体能源战略计划、武汉市自身能源结构优化，在中国煤控项目总课题组的协助下，武汉市集合华中科技大学、启动了武汉市“十三五”煤炭消费总量控制方案与政策研究项目。</p>
   <img src="../images/eng3-2.png" class="fie_img">

<p>武汉市“十三五”煤控项目采用生态红线约束与情景分析的研究方法，对武汉市煤炭消费现状进行分析。根据武汉市碳排放达峰以及空气质量达标约束条件，构建GREAT模型以及3E模型，制定武汉市煤控总体目标，结合耦合模型的思想，以及武汉市大气颗粒物源解析结果，制定出武汉市各区域各行业详细的煤控目标。</p>


  <img src="../images/eng3-3.png" class="fie_img">
    <img src="../images/eng3-4.png" class="fie_img">
  <p> 武汉市煤控实施方案主要从煤炭减量化、煤炭清洁利用、煤炭替代以及市场机制调节四大方向进行。市场机制方面主要是结合武汉市已经实施的碳配额制方案制定煤炭配额制实施方案。通过四大减煤途径，综合考虑能源、经济、生活等各个方面的影响因素，制定出武汉市“十三五”期间的详细减煤措施。最后，结合政府官员与各领域专家意见，制定武汉市实施煤控方案的保障措施。</p>
   

   </div>
  </div>
            
            </div>
          </td>
      </tr>
    </table>
  </div>
</div>




			</div>
			<div class="clearfix"></div>
		</div>
		<footer>
  			<span style="font-family:arial;">Copyright &copy;XXXXXXXXXXXX tel:123456789 e-mail:xxxxx@xxxx.com</span>
  		</footer>	
	</body>
</html>