<!DOCTYPE HTML>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link href="../css/bootstrap.css" rel='stylesheet' type='text/css' />
		<!-- jQuery-->
		<script src="../js/jquery-1.11.1.min.js"></script>
		<!-- css -->
		<link href="../css/banner.css" rel='stylesheet' type='text/css' />
		<link href="../css/field.css" rel='stylesheet' type='text/css' />
		<link href="../css/student.css" rel='stylesheet' type='text/css' />
		<link href="../css/engineer1.css" rel='stylesheet' type='text/css' />
		<!-- 导航栏 -->
		<link href="../css/nav.css" rel="stylesheet" type="text/css" media="all"/>
	</head>
	<body>
		<div class="banner" >
			<div class="header">
				<div class="logo"><img src="../images/logo_01.png" class="logo_img"></div>
			<!-- <div class="logo">LOGO ABC</div> -->
			<div class="container">		
				<div class="banner-top">
					<ul class="nav banner-nav">                                     
							<li class="dropdown1"><a href="index.html" >首页</a></li>
							<li class="dropdown1"><a href="news.html">动态</a></li>     
							<li class="dropdown1"><a href="teacher.html">人员</a>
								<ul class="dropdown2">
									<li><a href="teacher.html">老师</a></li>
									<li><a href="student.html">学生</a></li>
								</ul>
							</li>  
							<li class="dropdown1"><a href="field1.html" class="active">领域</a>
								<ul class="dropdown2">
									<li><a href="field1.html">燃煤污染物一体化协调脱除</a></li>
									<li><a href="field2.html">固体废弃物高值化利用</a></li>
									<li><a href="field3.html">矿物质积灰结渣机理研究</a></li>
								</ul>
							</li> 
							<li class="dropdown1"><a href="achieve1.html">成果</a>
								<ul class="dropdown2">
									<li><a href="achieve1.html">基金</a></li>
									<li><a href="achieve2.html">论文</a></li>
									<li><a href="achieve3.html">专利</a></li>
								</ul>
							</li>						
							<li class="dropdown1"><a href="engineer.html">技术开发</a></li> 
							<li class="dropdown1"><a href="about.html">关于我们</a></li>  
					</ul>
				</div>
				<div class="clearfix"> </div>
			</div>
			</div>
		</div>
		<div class="section">
			<div class="two_left">
	            <div class="two_left_title">研究领域</div>
	            <table border="0" cellspacing="0" cellpadding="0" class="left_table">
	              <tr>
	                <td class="two_center">
	                	<ul class="left_empty">
	                		<li class="field_title">燃煤污染物一体化协调脱除</li>
	                    	<li ><a href="field1.html">高级氧化 </a></li>
	                    	<li><a href="field2.html">低温等离子体</a></li>
	                    	<li class="field_title active_li">固体废弃物高值化利用</li>
	                    	<li ><a href="field3.html">E-Waste关键问题 </a></li>
	                    	<li><a href="field4.html">其他固废处置研究</a></li>
	                    	<li class="field_title ">矿物质积灰结渣机理研究</li>
	                    	<li ><a href="field5.html">矿物质元素的赋存形态分离</a></li>
	                    	<li><a href="field6.html">积灰结渣特性综合判别模型</a></li>
	                    </ul>
	                 </td>
	              </tr>
	              <tr>
	                <td><img src="../images/two_bottom.png" width="221" height="37" /></td>
	              </tr>
	            </table>
            </div>



			<div class="container1">
				<div class="two_right_title"> 
						<div class="two_right_title_h1">研究领域</div>
		              <div class="two_right_title_next"> <img src="images/next_ico.png" width="2" height="10" /> 当前位置 ：首页 &gt;研究领域&gt;电子废弃物化学回收处理 </div>
		          </div>
				<div class="fie_text">
					<h2>电子废弃物化学回收处理</h2>
					<p class="fie_smalltitle">1、介绍</p>
					<p>随着社会经济的发展，电子产品的需求量不断增加且更新淘汰周期越来越短，随之产生的电子类废弃物（WEEE）的数量急剧增长，作为一种数量急剧增加的电子废弃物，电子废塑料的合理处置具有重要的环境保护和资源利用的双重意义。电子废弃物中的阻燃材料一直是该类废弃物有效资源化的难点。相比逐渐被淘汰的填埋、焚烧等处理手段，另一个新型可供选择的回收方式——原料回收方式——通过热解，催化热解等手段将塑料制备燃料油的处置方式已成为世界范围内的共识和研究的热点。</p>
					<p class="fie_smalltitle">2、目标</p>
					<p>本项目拟采用热解技术制备高产率的热解油的试验方法与有机溴代物的催化氢化脱卤的研究方法相结合，深入研究典型阻燃电子废塑料热解特性和催化氢化脱溴机制。研究阻燃废塑料的热解特性的影响因素并建立热解动力学模型；研究影响热解产物品质的因素，以及热解特性与溴系阻燃剂之间的内在关联性；采用先热解后脱溴的实验研究方式，制备高品质热解油，并深入探讨对热解油催化氢化脱溴处理机制；提出一套有效回收电子废塑料的技术方案。</p>
					<img  src="../images/fie3-1.png" class="fie_img">
					Fig. 1. The alternative feedstock recycling routes of BFR-plastics.
					<p class="fie_smalltitle">3、目前成果</p>
					<p class="fie_smalltitle">3.1 阻燃废塑料与废烯烃共混热解</p>
					<p>本实验研究了阻燃电子废塑料HIPS与废烯烃PP共混热解特性。实验研究发现 废烯烃PP的添加不仅可以促进热解油的增加，同时有利于降低热解油中有机溴的含量。</p>
					<img  src="../images/fie3-2.png" class="fie_img">
					Fig. 2 TG/DTG profiles of Br-Sb-HIPS, PP and the mixture of the samples.
					<img  src="../images/fie3-3.png" class="fie_img">
					Fig. 3 Products distribution of the pyrolysis of HIPS + PP (solid, experimental; dash, predicted)
					<img  src="../images/fie3-4.png" class="fie_img">
					Fig.4 The effect of PP for debromination
					<p class="fie_smalltitle">3.2 阻燃废塑料催化热解研究</p>
					<p>本实验研究了阻燃电子废塑料HIPS、ABS与三种不同类型分子筛（HY，Hβ，HZSM-5）以及介孔催化剂（MCM-41，Al2O3）的催化热解特性研究。实验研究发现催化剂的添加对热解产物有着不同特性的影响，同时发现催化剂的添加有利于降低热解油中有机溴的含量。</p>
					<img  src="../images/fie3-5.png" class="fie_img">
					<img  src="../images/fie3-6.png" class="fie_img">
					Product distribution of Br-HIPS and Br-ABSdegradation over various catalysts
  					<img  src="../images/fie3-7.png" class="fie_img">
  					<img  src="../images/fie3-8.png" class="fie_img">
					Comparison of major compounds detected in the oil products from Br-HIPS and Br-ABS over various catalysts
  					<img  src="../images/fie3-9.png" class="fie_img">
  					<img  src="../images/fie3-10.png" class="fie_img">
					The distribution of total Br in the pyrolysis products from the pyrolysis of Br-HIPS and Br-ABS over various catalysts
					
					<p class="fie_smalltitle">4、展望</p>
					<p>阻燃电子废塑料催化热解研究有利于促进后期对热解油的催化提质制备清洁燃料油。</p>
   					<img  src="../images/fie3-11.gif" class="fie_img">
   					<img  src="../images/fie3-12.png" class="fie_img">
					催化氢化脱溴实验台架（在线提质与离线提质研究）
					<p class="fie_smalltitle">5、成果</p>
<p>Chuan Ma, Jie Yu, Ben Wang, Zijian Song, Jun Xiang, Song Hu, Sheng Su, Lushi Sun. Chemical Recycling of Brominated Flame Retarded Plastics from E-waste for Clean Fuels Production: A Review. Renewable & Sustainable Energy Reviews, 2016, 61:433-450.</p>
<p>Chuan Ma, Jie Yu, Ben Wang, Zijian Song, Fei Zhou, Jun Xiang, Song Hu, Lushi Sun. Influence of Zeolites and Mesoporous Catalysts on Catalytic Pyrolysis of Brominated Acrylonitrile–Butadiene–Styrene (Br-ABS). Energy & Fuels, 2016, 30, 4635-4643.</p>
<p>Chuan Ma, Jie Yu, Ben Wang, Zijian Song, Jun Xiang, Song Hu, Sheng Su, Lushi Sun. Catalytic Pyrolysis of Flame Retarded High Impact Polystyrene over various solid acid catalyst. Fuel Processing Technology, 2016, DOI:10.1016/j.fuproc.2016.01.018.</p>
	<p>Jie Yu, Lushi Sun, Chuan Ma, Yu Qiao, Hong Yao. Thermal degradation of PVC: A review. Waste Management, 2016, 48:300-314.</p>
	<p>Chuan Ma, Lushi Sun, Jun Xiang, Song Hu, Sheng Su. Effect of Polypropylene on the Pyrolysis of Flame Retarded High Impact Polystyrene. Fuel Processing Technology, 2015, 135:150–156. </p>
<p>Xiaoning Yang, Lushi Sun, Jun Xiang, Song Hu, Sheng Su. Pyrolysis and dehalogenation of plastics from waste electrical and electronic equipment (WEEE): A review. Waste Management, 2013, 33: 462–473</p>






				</div>
			</div>
			<div class="clearfix"></div>
		</div>
		<footer>
  			<span style="font-family:arial;">Copyright &copy;XXXXXXXXXXXX tel:123456789 e-mail:xxxxx@xxxx.com</span>
  		</footer>	
	</body>
</html>