<!DOCTYPE HTML>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="../css/bootstrap.css" rel='stylesheet' type='text/css' />
    <!-- jQuery-->
    <script src="../js/jquery-1.11.1.min.js"></script>
    <!-- css -->
    <link href="../css/banner.css" rel='stylesheet' type='text/css' />
    <link href="../css/field.css" rel='stylesheet' type='text/css' />
    <link href="../css/engineer1.css" rel='stylesheet' type='text/css' />
    <!-- 导航栏 -->
    <link href="../css/nav.css" rel="stylesheet" type="text/css" media="all" />
</head>

<body>
    <div class="banner">
        <div class="header">
            <div class="logo"><img src="../images/logo_01.png" class="logo_img"></div>
            <!-- <div class="logo">LOGO ABC</div> -->
            <div class="container">
                <div class="banner-top">
                    <ul class="nav banner-nav">
                        <li class="dropdown1"><a href="index.html">首页</a></li>
                        <li class="dropdown1"><a href="news.html" class="active">动态</a></li>
                        <li class="dropdown1"><a href="teacher.html">人员</a>
                            <ul class="dropdown2">
                                <li><a href="teacher.html">老师</a></li>
                                <li><a href="student.html">学生</a></li>
                            </ul>
                        </li>
                        <li class="dropdown1"><a href="field1.html">领域</a>
                            <ul class="dropdown2">
                                <li><a href="field1.html">燃煤污染物一体化协调脱除</a></li>
                                <li><a href="field2.html">固体废弃物高值化利用</a></li>
                                <li><a href="field3.html">矿物质积灰结渣机理研究</a></li>
                            </ul>
                        </li>
                        <li class="dropdown1"><a href="achieve1.html">成果</a>
                            <ul class="dropdown2">
                                <li><a href="achieve1.html">基金</a></li>
                                <li><a href="achieve2.html">论文</a></li>
                                <li><a href="achieve3.html">专利</a></li>
                            </ul>
                        </li>
                        <li class="dropdown1"><a href="engineer.html">技术开发</a></li>
                        <li class="dropdown1"><a href="about.html">关于我们</a></li>
                    </ul>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="detail">
            <div class="detail_title"> <img src="images/next_ico.png" width="2" height="10" /> 当前位置 ：<a href="index.html">首页</a> &gt; <a href="news.html">动态</a> &gt; 热烈祝贺孙老师课题组2016届硕士答辩顺利举行</div>
            <div class="detail_h1">热烈祝贺孙老师课题组2016届硕士答辩顺利举行</div>
            <div class="detail_time">发布时间：2016年5月16日 </div>
            <div class="detail_text">
                <p>5月14日2016届硕士答辩在煤燃烧国家重点实验室举行，答辩委员会主席为华中科技大学能源学院陈刚教授。肖茜、段梦、郅勇、赵鹏分别围绕SCR催化剂失活及再生机理、武汉市典型行业碳减排潜力、SCR流场优化设计、锅炉低氮燃烧特性做了答辩报告。张世红、毛睿等答辩委员会老师进行提问，并与参加答辩的同学交流讨论课题的相关问题。</p>
                <img src="../images/news2.jpg" class="fie_img">
            </div>
        </div>
    </div>
    </td>
    </tr>
    </table>
    </div>
    </div>
    </div>
    <div class="clearfix"></div>
    </div>
    <footer>
        <span style="font-family:arial;">Copyright &copy;XXXXXXXXXXXX tel:123456789 e-mail:xxxxx@xxxx.com</span>
    </footer>
</body>

</html>
