<!DOCTYPE HTML>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link href="../css/bootstrap.css" rel='stylesheet' type='text/css' />
		<!-- jQuery-->
		<script src="../js/jquery-1.11.1.min.js"></script>
		<!-- css -->
		<link href="../css/banner.css" rel='stylesheet' type='text/css' />
		<link href="../css/field.css" rel='stylesheet' type='text/css' />
		<link href="../css/teacher.css" rel='stylesheet' type='text/css' />
		<link href="../css/engineer1.css" rel='stylesheet' type='text/css' />
		<!-- 导航栏 -->
		<link href="../css/nav.css" rel="stylesheet" type="text/css" media="all"/>
	</head>
	<body>
		<div class="banner" >
			<div class="header">
				<div class="logo"><img src="../images/logo_01.png" class="logo_img"></div>
			<!-- <div class="logo">LOGO ABC</div> -->
			<div class="container">		
				<div class="banner-top">
					<ul class="nav banner-nav">                                     
							<li class="dropdown1"><a href="index.html" >首页</a></li>
							<li class="dropdown1"><a href="news.html" >动态</a></li>     
							<li class="dropdown1"><a href="teacher.html" class="active">人员</a>
								<ul class="dropdown2">
									<li><a href="teacher.html">老师</a></li>
									<li><a href="student.html">学生</a></li>
								</ul>
							</li>  
							<li class="dropdown1"><a href="field1.html" >领域</a>
								<ul class="dropdown2">
									<li><a href="field1.html">燃煤污染物一体化协调脱除</a></li>
									<li><a href="field2.html">固体废弃物高值化利用</a></li>
									<li><a href="field3.html">矿物质积灰结渣机理研究</a></li>
								</ul>
							</li> 
							<li class="dropdown1"><a href="achieve1.html">成果</a>
								<ul class="dropdown2">
									<li><a href="achieve1.html">基金</a></li>
									<li><a href="achieve2.html">论文</a></li>
									<li><a href="achieve3.html">专利</a></li>
								</ul>
							</li>						
							<li class="dropdown1"><a href="engineer.html" >工程应用</a></li>  
					</ul>
				</div>
				<div class="clearfix"> </div>
			</div>
			</div>
		</div>
		<div class="section">
		<!-- 	<div class="container1"> -->

				<div class="detail">
				   <div class="detail_title"> <img src="images/next_ico.png" width="2" height="10" /> 当前位置 ：<a href="index.html">首页</a>  &gt; 人员信息&gt;<a href="teacher.html">教师信息</a>&gt;王贲</div>
				   <div class="tea_mes">
				   		<img src="../images/teacher3.jpg" class="tea_pho2">
				   		<ul class="tea_ul2">
				   			<li>姓名:王贲</li>
				   			<li>性别:男</li>
				   			<li>专业职称:讲师</li>
				   			<li>单位:能源与动力工程学院</li>
				   		</ul>
				   		<p>讲师，湖北武汉人。</p><p>2006年毕业于华中科技大学能源与动力工程学院，获学士学位；同年，赴新疆克拉玛依中石油电厂参与运行工作一年。<br>2007年-2012年在华中科技大学煤燃烧国家重点实验室对富氧燃烧条件下典型煤种中氮的迁徙规律进行研究，取得了一定的创新性成果，发表了多篇高水平的国际学术论文，取得热能工程专业博士学位。<br>2012年8月-2014年9月，在加拿大阿尔伯塔大学化学与材料工程学院进行博士后研究工作，师从于Rajender Gupta教授，开展了化石能源气化过程中矿物质的转化机理、焦的物化特性和污染物排放的研究。</p><p>博士后期间协助申请并完成加拿大自然科学和工程研究委员会(NSERC)的企业合作研究发展(CRD)基金项目1项，参加国家计划课题1项、国家自然科学基金2项，同时参与横向企业应用课题多项。发表学术论文20余篇，其中SCI收录6篇，EI收录13篇。参加国际会议口头报告4次，国内会议口头报告2次。</p><p>邮箱：benwang@hust.edu.cn</p>
				   		<div class="clearfix"></div>
				   </div>
				</div>




			</div>
			<div class="clearfix"></div>
		</div>
		<footer>
  			<span style="font-family:arial;">Copyright &copy;XXXXXXXXXXXX tel:123456789 e-mail:xxxxx@xxxx.com</span>
  		</footer>	
	</body>
</html>