<!DOCTYPE HTML>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link href="../css/bootstrap.css" rel='stylesheet' type='text/css' />
		<!-- jQuery-->
		<script src="../js/jquery-1.11.1.min.js"></script>
		<!-- css -->
		<link href="../css/banner.css" rel='stylesheet' type='text/css' />
		<link href="../css/field.css" rel='stylesheet' type='text/css' />
		<link href="../css/teacher.css" rel='stylesheet' type='text/css' />
		<link href="../css/engineer1.css" rel='stylesheet' type='text/css' />
		<!-- 导航栏 -->
		<link href="../css/nav.css" rel="stylesheet" type="text/css" media="all"/>
	</head>
	<body>
		<div class="banner" >
			<div class="header">
				<div class="logo"><img src="../images/logo_01.png" class="logo_img"></div>
			<!-- <div class="logo">LOGO ABC</div> -->
			<div class="container">		
				<div class="banner-top">
					<ul class="nav banner-nav">                                     
							<li class="dropdown1"><a href="index.html" >首页</a></li>
							<li class="dropdown1"><a href="news.html" >动态</a></li>     
							<li class="dropdown1"><a href="teacher.html" class="active">人员</a>
								<ul class="dropdown2">
									<li><a href="teacher.html">老师</a></li>
									<li><a href="student.html">学生</a></li>
								</ul>
							</li>  
							<li class="dropdown1"><a href="field1.html" >领域</a>
								<ul class="dropdown2">
									<li><a href="field1.html">燃煤污染物一体化协调脱除</a></li>
									<li><a href="field2.html">固体废弃物高值化利用</a></li>
									<li><a href="field3.html">矿物质积灰结渣机理研究</a></li>
								</ul>
							</li> 
							<li class="dropdown1"><a href="achieve1.html">成果</a>
								<ul class="dropdown2">
									<li><a href="achieve1.html">基金</a></li>
									<li><a href="achieve2.html">论文</a></li>
									<li><a href="achieve3.html">专利</a></li>
								</ul>
							</li>						
							<li class="dropdown1"><a href="engineer.html" >工程应用</a></li>  
					</ul>
				</div>
				<div class="clearfix"> </div>
			</div>
			</div>
		</div>
		<div class="section">
			<!-- <div class="container1">
 -->
				<div class="detail">
				   <div class="detail_title"> <img src="images/next_ico.png" width="2" height="10" /> 当前位置 ：<a href="index.html">首页</a>  &gt; 人员信息&gt;<a href="teacher.html">教师信息</a>&gt;熊桂媛</div>
				   <div class="tea_mes">
				   		<img src="../images/teacher2.jpg" class="tea_pho">
				   		<ul class="tea_ul2">
				   			<li>姓名:熊桂媛</li>
				   			<li>性别:女</li>
				   			<li>科研秘书，高级人力资源管理师。负责课题组内部管理及行政事务工作</li>
				   		</ul>
				   		<div class="clearfix"></div>
				   </div>
				</div>




			</div>
			<div class="clearfix"></div>
		</div>
		<footer>
  			<span style="font-family:arial;">Copyright &copy;XXXXXXXXXXXX tel:123456789 e-mail:xxxxx@xxxx.com</span>
  		</footer>	
	</body>
</html>